<!-- <mat-label style="font-size: 18px;" id="example-radio-group-label">
    Select session platform
</mat-label>
<div style="margin: 22px 0px 15px 0px;">
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" fxLayout="column" fxLayoutGap="25px">
        <mat-radio-button style="font-size: 17px;margin-right: 20px;" (change)="changeCountry($event)"
            *ngFor="let country of countries" [value]="country.value" [checked]="country.checked">
            {{ country.name }}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngIf="selectedRadio=='other'">
    <input matInput [placeholder]="'Paste the link for session'" [type]="'text'"
        required autocomplete="new-password">
        </mat-form-field>
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions> -->